/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular-1.eot")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight-1.eot")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium-1.eot")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold-1.eot")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular-1.eot")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight-1.eot")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold-1.eot")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "RussiaBold"; */
@font-face {
    font-family: "RussiaBold";
    src: url("../fonts/russia_bold/russia_bold.eot");
    src: url("../fonts/russia_bold/russia_bold-1.eot")format("embedded-opentype"),
    url("../fonts/russia_bold/russia_bold.woff") format("woff"),
    url("../fonts/russia_bold/russia_bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/******************************************/
@font-face {
    font-family: "CeraRoundProDEMOBlack";
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Black.eot");
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Black-1.eot")format("embedded-opentype"),	
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Black.woff") format("woff"),
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraRoundProDEMOBold";
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Bold.eot");
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Bold-1.eot")format("embedded-opentype"),	
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Bold.woff") format("woff"),
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraRoundProDEMOLight";
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Light.eot");
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Light-1.eot")format("embedded-opentype"),	
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Light.woff") format("woff"),
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraRoundProDEMOMedium";
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Medium.eot");
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Medium-1.eot")format("embedded-opentype"),	
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Medium.woff") format("woff"),
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraRoundProDEMORegular";
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Regular.eot");
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Regular-1.eot")format("embedded-opentype"),	
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Regular.woff") format("woff"),
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraRoundProDEMOThin";
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Thin.eot");
    src: url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Thin-1.eot")format("embedded-opentype"),	
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Thin.woff") format("woff"),
    url("../fonts/CeraRoundProDEMO/CeraRoundProDEMO_Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}